/vendor
/node_modules
composer.lock
npm-debug.log
yarn-error.log

# Laravel specific
/.vagrant
/app/storage
/bootstrap/compiled.php
/public/build
/public/hot
/public/storage
/public_html/hot
/public_html/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
auth.json
Homestead.yaml
Homestead.json

# Jetbrains
/.idea
